<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Reviewscouk_Reviews>
            <version>0.1.0</version>
        </Reviewscouk_Reviews>
    </modules>
    <global>
        <models>
            <reviewsmodel>
                <class>Reviewscouk_Reviews_Model</class>
			</reviewsmodel>
			<reviewscouk_adminhtml>
				<class>Reviewscouk_Reviews_Adminhtml_Model</class>
			</reviewscouk_adminhtml>
        </models>
		<helpers>
            <reviewshelper>
                <class>Reviewscouk_Reviews_Helper</class>
            </reviewshelper>
        </helpers>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <notification>
                        <class>reviewsmodel/observer</class>
                        <method>dispatch_notification</method>
                        <type>singleton</type>
                   </notification>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reviewscouk_reviews_settings>
                                            <title>Reviews Settings</title>
                                        </reviewscouk_reviews_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
            <updates>
                <reviews_admin_layout>
                    <file>reviews_admin.xml</file>
                </reviews_admin_layout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Reviewscouk_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <reviewsmodel>
                <schedule>
                    <cron_expr>30 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reviewsmodel/observer::createFeed</model>
                </run>
            </reviewsmodel>
        </jobs>
    </crontab>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reviews_admin before="Mage_Adminhtml">Reviewscouk_Reviews_Adminhtml</reviews_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
