<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Reviewscouk_Reviews>
            <version>0.1.0</version>
        </Reviewscouk_Reviews>
    </modules>
    <global>
        <models>
            <reviewsmodel>
                <class>Reviewscouk_Reviews_Model</class>
			</reviewsmodel>
			<reviewscouk_adminhtml>
				<class>Reviewscouk_Reviews_Adminhtml_Model</class>
			</reviewscouk_adminhtml>
        </models>
		<helpers>
            <reviewshelper>
                <class>Reviewscouk_Reviews_Helper</class>
            </reviewshelper>
        </helpers>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <notification>
                        <class>reviewsmodel/observer</class>
                        <method>order_shipped</method>
                        <type>singleton</type>
                   </notification>
                </observers>
            </sales_order_shipment_save_after>

            <admin_system_config_changed_section_reviewscouk_reviews_settings>
                 <observers>
                     <sync_product_feed>
                         <class>reviewsmodel/observer</class>
                         <method>after_save</method>
                         <type>singleton</type>
                    </sync_product_feed>
                  </observers>
            </admin_system_config_changed_section_reviewscouk_reviews_settings>
        </events>
		<blocks>
			<catalog>
				<rewrite>
					<product_list>Reviewscouk_Reviews_Block_Product_List</product_list>
					<product_view>Reviewscouk_Reviews_Block_Product_View</product_view>
				</rewrite>
			</catalog>
			<reviews>
				<class>Reviewscouk_Reviews_Block_Reviews</class>
			</reviews>
		</blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reviewscouk_reviews_settings>
                                            <title>Reviews Settings</title>
                                        </reviewscouk_reviews_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
            <updates>
                <reviews_admin_layout>
                    <file>reviews_admin.xml</file>
                </reviews_admin_layout>
            </updates>
        </layout>
        <translate>
            <modules>
                <reviewscouk_reviews>
                    <files>
                        <default>Reviewscouk_Reviews.csv</default>
                    </files>
                </reviewscouk_reviews>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Reviewscouk_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers>
    </frontend>
    <frontend>
        <layout>
            <updates>
                <reviews_layout module="Reviews_Layout">
                    <file>reviews_layout.xml</file>
                </reviews_layout>
            </updates>
        </layout>
        <translate>
            <modules>
                <reviewscouk_reviews>
                    <files>
                        <default>Reviewscouk_Reviews.csv</default>
                    </files>
                </reviewscouk_reviews>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <reviewsmodel>
                <schedule>
                    <cron_expr>30 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reviewsmodel/observer::createFeed</model>
                </run>
            </reviewsmodel>
        </jobs>
    </crontab>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reviews_admin before="Mage_Adminhtml">Reviewscouk_Reviews_Adminhtml</reviews_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <reviewscouk_reviews_settings>
            <general>
                <reviews_invitations_enabled>1</reviews_invitations_enabled>
            </general>
            <widget>
                <product_widget_enabled>1</product_widget_enabled>
                <product_widget_colour>#6ABF2B</product_widget_colour>
                <rating_snippet_enabled>1</rating_snippet_enabled>
            </widget>
            <rich_snippet>
                <product_rich_snippet_enabled>1</product_rich_snippet_enabled>
            </rich_snippet>
            <product_feed>
                <product_feed>1</product_feed>
            </product_feed>
        </reviewscouk_reviews_settings>
    </default>
</config>
