<config>
    <tabs>
        <reviewscouk_reviews translate="label">
            <label>Reviews.co.uk</label>
            <sort_order>1</sort_order>
        </reviewscouk_reviews>
    </tabs> 
	<sections>
        <reviewscouk_reviews_settings translate="label">
            <label>Setup</label>
            <tab>reviewscouk_reviews</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>                    
			<groups>
	             <intro translate="label">
                    <label>Introduction</label>
                    <frontend_type>text</frontend_type>
					<comment>
						<![CDATA[
						<div style="width:46%;float:left;padding-right:4%;border-right:1px solid #ccc;">
							<h3>Already a Reviews.co.uk Customer?</h3>

							<p>To configure this plugin you need to have your API credentials, which can be found on your Reviews.co.uk dashboard.</p>
			
							<p>Log into the <strong>Dashboard</strong> and go to <strong>Integration</strong> > <strong>API</strong></p>

							<p>Copy the Store ID and API Key into <strong>API Settings</strong> section of this page.</p>
						</div>
						<div style="width:46%;float:right;">
							<h3>Not a Reviews.co.uk Customer?</h3>

							<p>You'll need to sign up for one of our packages at <a href="http://www.reviews.co.uk">Reviews.co.uk</a> or <a href="http://www.review.io">Review.io</a> to use this plugin.</p>
						</div>
						]]>
					  </comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
				</intro>

                <api translate="label">
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
					<fields>
						<reviews_region>
							<label>Region</label>
							<frontend_type>select</frontend_type>
							<source_model>reviewscouk_adminhtml/system_config_source_region</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</reviews_region>
						<reviews_store_id>
							<label>Store ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</reviews_store_id>
						<reviews_api_key>
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</reviews_api_key>
					</fields>       
                </api>
                <general translate="label">
                    <label>Review Collection Emails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
					<fields>
						<reviews_products_enabled>
							<label>Queue Products Review Emails</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</reviews_products_enabled>
						<reviews_merchant_enabled>
							<label>Queue Merchant Review Emails</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</reviews_merchant_enabled>
					</fields>       
                </general>
                <advanced translate="label">
                    <label>Advanced Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
					<fields>
						<debug>
							<label>Log Debug/Error Messages</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</debug>
					</fields>       
                </advanced>
                <widget translate="label">
                    <label>Product Reviews Widget</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
					<fields>
						<product_widget_enabled>
							<label>Display Reviews Widget on Product Pages</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</product_widget_enabled>
						<product_widget_colour>
							<label>Widget Hex Colour</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_widget_colour>
                                                <!--						<product_hide_noreviews>
							<label>Hide widget for products with no reviews</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</product_hide_noreviews>
						<include_jquery>
							<label>Include jQuery (Choose yes if you're not sure)</label>
							<frontend_type>select</frontend_type>                                                                     
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
                                                </include_jquery>-->
					</fields>       
                </widget>
	             <support translate="label">
                    <label>Support</label>
                    <frontend_type>text</frontend_type>
					<comment>
						<![CDATA[
						<h3>Need some Help?</h3>

						<p>If you are having any problems with this plugin please contact us at <a href="mailto:support@reviews.co.uk">support@reviews.co.uk</a></p>
						<p>We also have live chat available on our website.</p>
						]]>
					  </comment>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
				</support>
            </groups>
        </reviewscouk_reviews_settings>
    </sections> 
</config>
